# Airbnb NYC 2019 EDA

In [51]:
# Load dependencies

import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Exploring the data attributes

In [52]:
# Loading the dataset

df_unclean = pd.read_csv("./AB_NYC_2019.csv")
print(" Samples: {} ; columns: {}".format(df_unclean.shape[0], df_unclean.shape[1]))

 Samples: 48895 ; columns: 16

In [53]:
#Listing the data attribute types

#df_unclean.dtypes
df_unclean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [54]:
# Viewing samples
df_unclean.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## Comments

* Looks like some of the columns have Null values
* Let's remove listings that don't have a name or host name

In [55]:
#identifying the null values

df_unclean.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [58]:
# Drop rows when host_id or name is null

df_clean = df_unclean.dropna(subset=['name'])
df_clean.isnull().sum()
print(len(df_clean))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48879 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48879 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48879 non-null  int64
 3   host_name                       48858 non-null  object
 4   neighbourhood_group             48879 non-null  object
 5   neighbourhood                   48879 non-null  object
 6   latitude                        48879 non-null  float64
 7   longitude                       48879 non-null  float64
 8   room_type                       48879 non-null  object
 9   price                           48879 non-null  int64
 10  minimum_nights                  48879 non-null  int64
 11  number_of_reviews               48879 non-null  int64
 12  last_review                     38837 non-null  object
 13  reviews_per_month               38837 non-null  float64
 14  calculated_host_listings_count  48879 non-null  int64
 15  availability_365                48879 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.3+ MB
None